  <!-- START Level 75 Row -->      
  <div class="row first-row" ng-show="toonLevel === 75">
    <div class="col-md-4 overflow-col">
      <ul class="list-unstyled component-list">
        <li ng-repeat="prestigeClass in prestigeClasses" ng-class="{hidden: !prestigeClass.available}">
          <div class="component-item pointer" ng-class="{active: selectedPrestigeClass.name === prestigeClass.name, unavailable: !prestigeClass.available}" ng-click="choosePrestigeClass(prestigeClass)">
            {{prestigeClass.name}}
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-4 overflow-col" ng-show="selectedPrestigeClass">
      <ul class="list-unstyled component-list">
        <li ng-repeat="discipline in disciplines" ng-class="{hidden: !discipline.available && hideUnavailable === true}">
          <div class="component-item pointer" ng-class="{active: discipline.selected, unavailable: !discipline.available, prohibited: discipline.prohibited}" ng-click="selectDiscipline(discipline)">
            {{discipline.name}}
          </div>
        </li>
        <li ng-repeat="mastery in masteries" ng-class="{hidden: !mastery.available && hideUnavailable === true}">
          <div class="component-item pointer" ng-click="selectMastery(mastery)" ng-class="{active: mastery.selected, unavailable: !mastery.available}">
            {{mastery.name}} ({{mastery.cost}})
          </div>
        </li>        
      </ul>
    </div>

    <div class="col-md-4 overflow-col" ng-show="selectedPrestigeClass">
      <ul class="list-unstyled component-list">
        <li ng-repeat="statRune in statRunes" tooltip-placement="left" tooltip-append-to-body="true" tooltip-html-unsafe="{{getStatRuneTooltip(statRune)}}">
          <div class="component-item pointer" ng-class="{active: statRune.selected, requirement: statRune.requirement}" ng-click="selectStatRune(statRune)">
            {{statRune.name}} ({{statRune.cost}})
          </div>
        </li>
      </ul>
    </div>    
  </div>

  <div class="row unavailable-row">
    <div class="col-md-4 col-md-offset-8 col-xs-12">
      <div class="checkbox unavailable-checkbox">
        <label ng-show="selectedPrestigeClass">
          <input type="checkbox" ng-model="showCheckbox" ng-change="hideUnavailable = !showCheckbox"> Show Unavailable Runes
        </label>        
      </div>
    </div>
  </div>
